$dark: #774F38;
$medium-dark: #E08E79;
$medium: #F1D4AF;
$medium-light: #C5E0DC;
$light: #ECE5CE;
$light-text: #FFF;
$dark-text: #666;

$navigation-section: $medium-dark;
$navigation-text: $light-text;

$headline-section: $medium-light;
$headline-text: $dark-text;

$footer-section: $medium-dark;
$footer-text: $light-text;

