<header class="navigation">
  <div class="navigation-wrapper">
    <a ref="/" class="logo">
      <div class="logo-text"><%= settings.site_name %></div>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="http://github.com/pferdefleisch/thepickmachine.com" target="_blank">Source</a></li>
      </ul>
    </div>
  </div>
</header>
